@import url(http://fonts.googleapis.com/css?family=Quicksand);

h1{
	font-family:'Quicksand', sans-serif;
    	font-size:30px;
	text-transform:uppercase;
	font-weight:bolder;
}

h2{
	font-size:20px;
	font-weight:bolder;
	text-transform:uppercase;
	text-align:center;
}

#main{
	background:#efefef;
	text-align:center;
}

.infoboksdark{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	min-height:400px;
	background:#dfdfdf;
	padding-bottom:40px;
	padding-top:20px;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  width:960px;
}
	
.column{
	display: inline-block;
    float: left;
	text-align:left;
	width: 450px;
	padding-left:30px;
}

.columnleft{
	display: inline-block;
    float: left;
	text-align:left;
	width: 320px;
}
.columncenter{
	display: inline-block;
    float: center;
	text-align:left;
	width: 320px;
}
.columnright{
	display: inline-block;
    float: right;
	text-align:left;
	width: 320px;
}
.columntextleft{
	display: inline-block;
    float: left;
	width: 270px;
	padding-left:60px;
}
.columntextcenter{
	display: inline-block;
    float: center;
	width: 270px;
    padding-left:40px;
}
.columntextright{
	display: inline-block;
    float: right;
	width: 270px;
	padding-left:0px;
}
.infobokslight{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	min-height:400px;
	background:#F5F6F7;
	padding-bottom:40px;
	padding-top:20px;
}


.infoboks{
	padding:20px;
	background:#fff;
	margin-bottom:20px;
	text-align:left;
}

h1, h2, .addCart, input{
text-align: left;
}

p{
font-family:'Quicksand', sans-serif;
	font-size: 18px;
	height: auto;
	line-height: 30px;
}
p1{
font-family:'Quicksand', sans-serif;
	font-size: 18px;
	height: auto;
	text-align:center;
	line-height: 30px;
}
a{
    color:#3796ff;
	text-decoration:none;
}


@media only screen and (max-width : 960px),
only screen and (max-device-width : 960px){

.center{
	  margin-left: auto;
	  margin-right: auto;
	  width:90%;
	text-align:center;
	}
.column, .infoboks, p, h1,h2, .delto{
	width:90%;
	text-align:center;
	float:none;
	  margin-left: auto;
	  margin-right: auto;
	}
}


.circle-section {
    margin: 0 auto; /* center the secton */
    padding: 1em 4em;
    overflow: auto;
    max-width: 1000px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 30%;
    background-image: url('/dtn_files/background_line.png');
} 
 
.circle-section .column {
    box-sizing: border-box;
    margin-left: 2%;
    margin-right: 2%;
    width: 29%; 
    float: left;
}
 
 /* push the text in the second column down */
.circle-section .column:nth-of-type(2) {
    padding-top: 3em;
} 
 
.column h3 {
    text-align: center;
} 

.clip-circle {
    box-sizing: border-box;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    border: 2px solid rgb(131, 214, 215);
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

/* this helps the layout adapt when the screen is below 760px. */
@media (max-width: 760px) {
    .circle-section {
        background-image: none;    
    }    
    .circle-section .column {
        clear: both;        
        width: 100%;
    }
}

