@import url(http://fonts.googleapis.com/css?family=Neuton:300,400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Quicksand);


body{
	background:#fff;
	margin:0;
	font-family:'Quicksand', sans-serif;
	}

#center{
	width:600px;
	margin-left:auto;
	margin-right:auto;
	}
	
#logo{
position:relative;
left:40%;
top:35px;
text-align:middle;
z-index:100;
}
	
	
	input {
    -webkit-appearance: none;
    border-radius: 0;
}

.email{
font-size: 18px;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
font-family:'Quicksand', sans-serif;
width: 210px;
}

 #text{
 text-align:center;
 }

#linkliste{
text-align:center;
height:50px;
padding-top:30px;
}

.toplink{
	font-size:20px;
	text-decoration: none;
	padding-left:30px;
	padding-right:30px;
	padding-top:10px;
	padding-bottom:10px;
	color:#222;
}

.toplink:hover{
	background:#30C1D5;
	color:#fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

p{
	line-height:24px;
}


hr{
	height:3px;
	padding-bottom:0px;
	margin-bottom:13px;
	background:#000;
	border: none;
}

.clear { clear: both;
	background:none }
